ul.menu {
  margin: 0 10px;
}
ul.sf-menu {

  li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;

    &:link,
    &:visited {
      color: $menu;
    }

    &:hover,
    &:focus {
      color: $menu_hover;
    }

    &:active,
    &.is-active {
      color: $menu_active;
    }
  }

  li li a {
    &:link,
    &:visited {
      color: $menu;
    }

    &:hover,
    &:focus {
      color: $menu_hover;
    }

    &:active,
    &.is-active {
      color: $menu_active;
    }
  }
  li.active-trail > a {
    &:link,
    &:visited {
      color: $menu_active;
    }
  }

  ul {
    background-color: $menu_bg_hover;
  }
}

.sf-accordion-toggle {
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
  a {
    display: block;
  }
}

@include breakpoint($medium) {
  ul.sf-menu {
    @include clearfix;
    float: right;
  }
}
