.layout-secondary {
  padding: ($vspace * 2) $hspace;
  background-color: #eee;

  @include breakpoint($medium) {
  .region {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .block {
      flex: 1 1 50%;
    }
  }
}
}
