.layout-sponsors {
  padding: 20px;
  background: #fff;
  .region-sponsors {
    @include container;
    border-top: solid 3px $color_ltgray;
    margin-top: 40px;
    padding-top: 20px;
  }
  h2 {
    text-align: center;
    font-size: 1.2em;
  }
}
