.view-schedule {
  .views-row {
    margin-bottom: 20px;
    background-color: #efefef;
    padding: 15px;
    border-left: 4px solid;
  }
  .views-field-title {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 15px;
  }
  .session-description {
    height: 100px;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
    font-size: 0.8em;
    .session-less {
      display: none;
    }
    i {
      display: inline-block;
      padding-left: 10px;
    }
    &.opened {
      height: auto;
      .session-more {
        display: none;
      }
      .session-less {
        display: block;
      }
    }
  }
  .session-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    border-top: dotted 1px;
    padding: 5px;
    background-color: rgba(255,255,255,0.75);
  }
  h3 {
    clear: both;
    border-bottom: dotted 1px;
  }
  .room-A {
    border-color: $color-primary-0;
  }
  .room-B {
    border-color: $color-primary-1;
  }
  .room-C {
    border-color: $color-primary-2;
  }
  @include breakpoint($medium) {
    .views-row {
      width: 31.333%;
      margin-right: 2%;
      float: left;
    }
  }
}
